body {
  font-family: "Poppins", sans-serif;
}

.span-hero {
  font-style: italic;
  font-weight: 500;
  font-size: 72px;
  line-height: 108px;

  color: #095d6a;
}

.span-hero-2 {
  font-style: italic;
  font-weight: 500;
  font-size: 72px;
  line-height: 108px;

  color: #fbbc58;
}

.fa-search {
  font-size: 26px;
  color: #fbbc58;
}

.btn-login {
  background-color: #095d6a;
  color: #fff;
}

.btn-login:hover {
  background-color: #063a42;
  color: #fff;
}

.herobwa h1 {
  font-weight: 500;
  font-size: 72px;
  line-height: 108px;
  text-transform: uppercase;
  color: #000000;
}

.navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  color: #095d6a;
}

.hero-img {
  float: right;
  margin-right: -20px;
}

/* services */
#services {
  background-image: url("/images/background-service.png");
}

/* .btn-primary {
  background: #ff9900;
  border: 0;
  padding: 15px 40px 15px 40px;
}

.btn-primary:hover {
  background: rgba(219, 133, 4);
  border: 0;
}

.btn-secondary {
  background: none;
  border: 1px solid #bcd0e5;
  font-size: 16px;
  padding: 15px 40px 15px 40px;
  font-weight: bold;
  color: #173a56;
}

.btn-secondary:hover {
  background: none;
  border: 1px solid rgba(159, 177, 197);
  color: #173a56;
} */

/* MEDIA BREAK POINTS */
@media only screen and (max-width: 768px) {
  /* .btn-primary,
  .btn-secondary {
    margin-top: 10px;
    margin-left: 0 !important; */
}
